.head {
	background-color:lightblue;
	height: 7vh;
	margin-bottom: 20px;
	margin-top: 50px;
}
.caro {
	background-color: lightblue;
	height: 30vh;
	margin-bottom: 20px;
}
.thumb {
	display: flex;
}
.thumb> div  {
	flex-direction: row;
	background-color: lightblue;
	height: 30vh;
	width: 100%;
	margin: 10px 0px 10px 0px;
}
#ml {
	margin-left: 20px;
}
.footer {
	background-color: lightblue;
	height: 5vh;
	margin-bottom: 20px;
}
body {
	margin-left: 30px;
	margin-right: 30px;
}

@media screen and (max-width: 600px) {
	.head {
	background-color: lightblue;
	height: 7vh;
	margin-bottom: 20px;
	margin-top: 50px;
}
.caro {
	background-color: lightblue;
	height: 20vh;
	margin-bottom: 20px;
}
.thumb {
	display: flex;
}
.thumb> div  {
	flex-direction: row;
	background-color: lightblue;
	height: 20vh;
	width: 100%;
	margin: 10px 0px 10px 0px;
}
#ml {
	margin-left: 20px;
}
.footer {
	background-color: lightblue;
	height: 5vh;
	margin-bottom: 20px;
}

}
